<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
">
    <bean id="BaseAction" class="org.uu.controller.BaseAction">
        <property name="mgr" ref="mgr"/>
    </bean>
    <bean id="loginAction" class="org.uu.controller.LoginAction">
        <property name="mgr" ref="mgr"/>
    </bean>
     <bean id="registerAction" class="org.uu.controller.RegisterAction">
        <property name="mgr" ref="mgr"/>
    </bean>
    <bean id="statusAction" class="org.uu.controller.StatusAction">
        <property name="statusMgr" ref="statusMgr"/>
        <property name="feedMgr" ref="feedMgr"/>
    </bean>
    
    
    <bean id="searchUser" class="org.uu.controller.SearchUserAction">
        <property name="mgr" ref="mgr"/>
        <property name="statusMgr" ref="statusMgr" />
    </bean>
    
    <bean id="addFriend" class="org.uu.controller.AddFriend">
        <property name="mgr" ref="mgr"/>
        <property name="relationMgr" ref="relationMgr" />
    </bean>
    
    <!--进入个人主页-->
    <bean id="goPersonalPage" class="org.uu.controller.GoPersonalPage">
        <property name="mgr" ref="mgr"/>
    </bean>
    
    <!--用户的好友-->
    <bean id="getFriend" class="org.uu.controller.GetFriend">
        <property name="mgr" ref="mgr"/>
        <property name="relationMgr" ref="relationMgr"/>
    </bean>
    
    <!--获取分页状态列表-->
    <bean id="getPagedStatus" class="org.uu.controller.GetPagedStatus">
        <property name="mgr" ref="mgr"/>
        <property name="statusMgr" ref="statusMgr"/>
    </bean>
 
 
</beans>
