<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
">
    <bean id="mgr" class="org.uu.bussiness.UserManagerImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    
    <bean id="statusMgr" class="org.uu.bussiness.StatusManagerImpl">
        <property name="userDao" ref="userDao"></property>
        <priperty name="statusDao" ref="statusDao"></priperty>
    </bean>

</beans>
