<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
">
    <bean id="mgr" class="org.uu.bussiness.UserManagerImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>

    
    <bean id="statusMgr" class="org.uu.bussiness.StatusManagerImpl">
        <property name="userDao" ref="userDao"></property>
        <property name="statusDao" ref="statusDao"></property>
    </bean>
    
    <bean id="feedMgr" class="org.uu.bussiness.FeedManagerImpl" >
        <property name="feedDao" ref="feedDao"></property>
        <property name="userDao" ref="userDao"></property>
        <property name="statusDao" ref="statusDao"></property>
    </bean>
    
    <bean id="blogMgr" class="org.uu.bussiness.BlogManagerImpl" >
        <property name="blogDao" ref="blogDao"></property>
        <property name="userDao" ref="userDao"></property>
    </bean>

</beans>
